# Expo
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Node
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Misc
.env
.env.local
.env.*.local
.DS_Store
.vscode/
.idea/
*.log
*.swp
*.swo
*~

# Metro
.metro-health-check*

# Yarn
yarn-error.log
